<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>schedule</title>
</head>
<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
div {
    margin: 5% auto;
    width: 50%;
    text-align: center;
}
h1 {
    color: #333;
}
p {
    color: #666;
}
button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
</style>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
<body>
<div>
    <img src="{{ image_path }}" alt="Exam Schedule" style="max-width:100%; height:auto;">
    <a href="/" name="go_back"><button type="submit">Powrót</button></a>
</div>
</body>
</html>